/* App styles */

.EmojiLand {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.EmojiLand > * {
  align-self: center;
}

.EmojiLand__btn {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.88);
  font-size: 1rem;
  border-radius: 44.5px;
  width: 377px;
  height: 89px;
  border: 0;
  outline: 0;
}

.EmojiLand__btn:focus {
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.EmojiLand__loader {
  width: 15px;
  height: 15px;
  margin: 0 0.5rem;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  display: inline-block;
  animation: rotate 600ms infinite linear;
}
.EmojiLand__highlight {
  background: yellow;
  color: black;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
